   # Visual Data Analysis of Fraudulent Transactions

In [8]:
# initial imports
import pandas as pd
import calendar
import plotly.express as px
import hvplot.pandas
from sqlalchemy import create_engine

In [9]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5433/postgres")

   ## Data Analysis Questions 1

   Use `hvPlot` to create a line plot showing a time series from the transactions along all the year for **card holders 2 and 18**. In order to contrast the patterns of both card holders, create a line plot containing both lines. What difference do you observe between the consumption patterns? Does the difference could be a fraudulent transaction? Explain your rationale.

In [15]:
# loading data for card holder 2 and 18 from the database
query = "SELECT * FROM credit_card;" 
card_holder_df = pd.read_sql(query, engine)
card_holder_df.head()

                  card  idcardholder
0     3517111172421930             1
1  4761049645711555811             1
2  4866761290278198714             2
3         675911140852             2
4       30078299053512             3

In [24]:
query1 = """
SELECT idcardholder, COUNT(idcardholder) as number_of_hits
FROM credit_card
GROUP BY idcardholder
"""

counting_card_holders = pd.read_sql(query1,engine)
counting_card_holders

    idcardholder  number_of_hits
0             23               3
1             24               3
2             11               3
3              8               2
4             19               3
5             25               2
6              4               2
7             21               1
8             14               1
9              3               1
10            17               1
11            22               1
12            20               3
13            13               3
14            10               3
15             9               1
16             7               2
17             1               2
18             5               2
19            18               2
20             2               2
21            16               3
22            15               2
23             6               2
24            12               3

In [ ]:
# plot for cardholder 2

In [ ]:
# plot for cardholder 18

In [ ]:
# combined plot for card holders 2 and 18

   ### Conclusions for Question 1

   ## Data Analysis Question 2

   Use `Plotly Express` to create a series of six box plots, one for each month, in order to identify how many outliers could be per month for **card holder id 25**. By observing the consumption patters, do you see any anomalies? Write your own conclusions about your insights.

In [ ]:
# loading data of daily transactions from jan to jun 2018 for card holder 25

In [ ]:
# change the numeric month to month names

In [ ]:
# creating the six box plots using plotly express

   ### Conclusions for Question 2