   # Visual Data Analysis of Fraudulent Transactions

In [25]:
# initial imports
import pandas as pd
import calendar
import plotly.express as px
import hvplot.pandas
from sqlalchemy import create_engine

In [26]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5433/postgres")

   ## Data Analysis Questions 1

   Use `hvPlot` to create a line plot showing a time series from the transactions along all the year for **card holders 2 and 18**. In order to contrast the patterns of both card holders, create a line plot containing both lines. What difference do you observe between the consumption patterns? Does the difference could be a fraudulent transaction? Explain your rationale.

In [30]:
# first attempt at calling the 2 and 18
query1 = """
SELECT idcardholder, COUNT(idcardholder) as number_of_hits
FROM credit_card
GROUP BY idcardholder
"""

counting_card_holders = pd.read_sql(query1,engine)
counting_card_holders.head()

   idcardholder  number_of_hits
0            23               3
1            24               3
2            11               3
3             8               2
4            19               3

In [42]:
# after a lot of reserach, this is how I did it
query2 = """
SELECT a.id, a.name, b.card, c.date, c.amount, e.name as "category" \

FROM public.card_holder as a, public.credit_card as b, public.transaction c, public.merchant d, public.merchant_cat e \

WHERE a.id = b.idcardholder AND b.card = c.card AND c.id_merchant = d.id AND id_merch_cat = e.id AND b.card = c.card
"""
data_analysis = pd.read_sql(query2,engine)

data_analysis = data_analysis.set_index("date")

data_analysis.head()

,id,name,card,amount,category
date,,,,,
2018-01-01 21:35:10,13,John Martin,3561954487988605,6.22,food truck
2018-01-01 21:43:12,13,John Martin,5135837688671496,3.83,bar
2018-01-01 22:41:21,10,Matthew Gutierrez,213193946980303,9.61,food truck
2018-01-01 23:13:30,4,Danielle Green,4263694062533017,19.03,pub
2018-01-01 23:15:10,18,Malik Carlson,4498002758300,2.95,restaurant

In [ ]:
# plot for cardholder 2

In [ ]:
# plot for cardholder 18

In [ ]:
# combined plot for card holders 2 and 18

   ### Conclusions for Question 1

   ## Data Analysis Question 2

   Use `Plotly Express` to create a series of six box plots, one for each month, in order to identify how many outliers could be per month for **card holder id 25**. By observing the consumption patters, do you see any anomalies? Write your own conclusions about your insights.

In [ ]:
# loading data of daily transactions from jan to jun 2018 for card holder 25

In [ ]:
# change the numeric month to month names

In [ ]:
# creating the six box plots using plotly express

   ### Conclusions for Question 2