   # Visual Data Analysis of Fraudulent Transactions

In [8]:
# initial imports
import pandas as pd
import calendar
import plotly.express as px
import hvplot.pandas
from sqlalchemy import create_engine

In [9]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5433/postgres")

   ## Data Analysis Questions 1

   Use `hvPlot` to create a line plot showing a time series from the transactions along all the year for **card holders 2 and 18**. In order to contrast the patterns of both card holders, create a line plot containing both lines. What difference do you observe between the consumption patterns? Does the difference could be a fraudulent transaction? Explain your rationale.

In [14]:
# loading data for card holder 2 and 18 from the database
query = "SELECT * FROM credit_card;" 
card_holder_df = pd.read_sql(query, engine)
card_holder_df

                   card  idcardholder
0      3517111172421930             1
1   4761049645711555811             1
2   4866761290278198714             2
3          675911140852             2
4        30078299053512             3
5      4263694062533017             4
6          584226564303             4
7         4276466390111             5
8      4268491956169254             5
9      3581345943543942             6
10  4159836738768855913             6
11     3516952396080247             7
12     4539990688484983             7
13     4834483169177062             8
14       30063281385429             8
15       30181963913340             9
16  4962915017023706562            10
17  4165305432349489280            10
18      213193946980303            10
19      180098539019105            11
20  4644008655884311378            11
21     4027907156459098            11
22         501879657465            12
23     5297187379298983            12
24      376027549341849            12
25     4711773125020499            13
26     5135837688671496            13
27     3561954487988605            13
28     5175947111814778            14
29  4723783028106084756            15
30     6500236164848279            15
31         503842928916            16
32     5570600642865857            16
33     5500708021555307            16
34     6011987562414062            17
35        4498002758300            18
36      344119623920892            18
37  4743204091443101526            19
38     5361779664174555            19
39     3561072557118696            19
40     3535651398328201            20
41     4506405265172173            20
42  4586962917519654607            20
43  4279104135293225293            21
44         501809222273            22
45        4741042733274            23
46     4188164051171486            23
47     4150721559116778            23
48        4681896441519            24
49       30142966699187            24
50     3582198969197591            24
51        4319653513507            25
52      372414832802279            25

In [ ]:
# plot for cardholder 2

In [ ]:
# plot for cardholder 18

In [ ]:
# combined plot for card holders 2 and 18

   ### Conclusions for Question 1

   ## Data Analysis Question 2

   Use `Plotly Express` to create a series of six box plots, one for each month, in order to identify how many outliers could be per month for **card holder id 25**. By observing the consumption patters, do you see any anomalies? Write your own conclusions about your insights.

In [ ]:
# loading data of daily transactions from jan to jun 2018 for card holder 25

In [ ]:
# change the numeric month to month names

In [ ]:
# creating the six box plots using plotly express

   ### Conclusions for Question 2